@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: rgb(13, 15, 51);
    --color-secondary: rgb(8, 9, 44);
    --color-tertiary: rgb(30, 27, 72);
    --color-accent: rgb(145, 92, 255);
    --color-selected: rgb(41, 37, 93);
    --color-background: rgb(9, 10, 39);
    --color-border: rgb(49, 36, 105);
    --color-text-1: rgb(240,240,240);
    --color-text-2: rgb(117, 117, 117);
    --color-text-3: rgb(162, 162, 162);
    --color-button: rgb(111, 58, 221);
    --color-button-unavailable: rgb(68, 38, 130);

    --color-s: rgb(255, 206, 79);
    --color-a: rgb(135, 217, 31);
    --color-b: rgb(9, 87, 213);
    --color-c: rgb(146, 22, 207);
    --color-d: rgb(195, 0, 15);
    --color-f: rgb(162, 162, 162);

    --nav-height: 60px;    
    --main-width: 70%;
    --main-max-width: 1800px;

    color-scheme: dark;
}

html, body {
    margin: 0;
    padding: 0;
 
    font-family: 'Inter', system-ui, sans-serif;

    color: var(--color-text-1);
}

.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

* {
    font-family: inherit;
}

h1 {
    margin: 10px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-1);
    margin: 0;
}

h3 {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-2);
    margin: 0;
}


a {
    text-decoration: none;
}