.flexContainer {
    display: flex;

    width: calc(70% + 40px);
    max-width: calc(var(--main-max-width) + 40px);
    padding: 20px 30px;

    justify-content: space-between;
    
    color: var(--color-text-1);
}