.navbar {
    padding: 0 ;

    width: 70%;
    max-width: var(--main-max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--nav-height);
}

.navContainer {
    background-color: darkblue;
    color: white;

    display: flex;
    justify-content: center;

    
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbuttons {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 500;
}


.flexContainer {
    display: flex;
    align-items: center;
}